@using PurpleBuzz.Models.Pricing;
@model PricingIndexVM;
<!-- Start pricing -->
<div class="container-lg py-5">
    <div class="col-md-12 m-auto text-center py-5">
        <h1 class="pricing-header h2 semi-bold-600">Pricing</h1>
        <p class="pricing-footer">
            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut facilisis.
        </p>
    </div>


    <div class="row px-lg-3">
        @foreach(var PricingCard in Model.PricingCards)
            {
                 var colClass = PricingCard.Title == "Standard Plan" ? "col-md-4 pt-sm-0 pt-3 px-xl-3" : "col-md-4 pb-5 pt-sm-0 mt-5 px-xl-3";
                 var cardClass = PricingCard.Title == "Standard Plan" ? "card bg-secondary card-rounded" : "card";
                 var textClass = PricingCard.Title == "Standard Plan" ? "text-white" : "text-secondary";
                 var buttonClass = PricingCard.Title == "Standard Plan" ? "btn-outline-light" : "btn-outline-primary";
                 var footerPadding = PricingCard.Title == "Standard Plan" ? "pt-5 pb-2" : "pt-5";
                 <div class="@colClass">
                     <div class="pricing-table @cardClass h-100 shadow-sm border-0 py-5">
                         <div class="pricing-table-body card-body text-center align-self-center p-md-0">
                             <i class="pricing-table-icon display-3 bx bx-package @textClass"></i>
                             <h2 class="pricing-table-heading h5 semi-bold-600">@PricingCard.Title</h2>
                             <p>@PricingCard.Price</p>
                             <ul class="pricing-table-list text-start @textClass px-4 list-unstyled light-300">
                                 @foreach (var feature in PricingCard.Features)
                                 {
                                     <li><i class="bx bxs-circle me-2"></i>@feature</li>
                                 }
                             </ul>
                             <div class="pricing-table-footer @footerPadding">
                                 <a href="#" class="btn rounded-pill px-4 @buttonClass light-300">Get Now</a>
                             </div>
                         </div>
                     </div>
                 </div>
            
        }


    </div>
</div>
<!-- End Content -->
<!-- Start Pricing Horizontal Section -->
<section class="bg-light pt-sm-0 py-5">
    <div class="container py-5">

        <h1 class="h2 semi-bold-600 text-center mt-2">Our Pricing</h1>
        <p class="text-center pb-5 light-300">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut facilisis.</p>


        @foreach(var PricingCard in Model.PricingCards)
        {
            <!-- Start Pricing Horizontal -->
            <div class="pricing-horizontal row col-10 m-auto d-flex shadow-sm rounded overflow-hidden  my-5 bg-white">
                <div class="pricing-horizontal-icon col-md-3 text-center bg-secondary text-light py-4">
                    <i class="display-1 bx bx-package pt-4"></i>
                    <h5 class="h5 semi-bold-600 pb-4 light-300">@PricingCard.Title</h5>
                </div>
                <div class="pricing-horizontal-body offset-lg-1 col-md-5 col-lg-4 d-flex align-items-center pl-5 pt-lg-0 pt-4">
                    <ul class="text-left px-4 list-unstyled mb-0 light-300">
                        @foreach(var feature in PricingCard.Features)
                        {
                            <li><i class="bx bxs-circle me-2"></i>@feature</li>
                        }
                      
                  
                    </ul>
                </div>
                <div class="pricing-horizontal-tag col-md-4 text-center pt-3 d-flex align-items-center">
                    <div class="w-100 light-300">
                        <p>@PricingCard.Price</p>
                        <a href="#" class="btn rounded-pill px-4 btn-outline-primary mb-3">Get Now</a>
                    </div>
                </div>
            </div>
            <!-- End Pricing Horizontal -->
        }
    
     

    </div>
</section>
<!--End Pricing Horizontal Section-->

<section class="container py-5">

    <h1 class="h2 semi-bold-600 text-center pt-5">Pricing</h1>
    <p class="text-center pb-5 light-300">
        Vector illustration from <a rel="nofollow" href="https://storyset.com/" target="_blank">StorySet</a>.
        Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut facilisis.
    </p>

    <div class="row d-flex align-items-center pb-5">

        <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2">
            <img class="rounded float-right" src="./assets/img/pricing.svg">
        </div>

        <div class="col-lg-6">
            @foreach(var PricingCard in Model.PricingCards)
            {
                <!-- Start Pricing List -->
                <div class="pricing-list shadow-sm rounded-top rounded-3 py-sm-0 py-5">
                    <div class="row p-2">
                        <div class="pricing-list-icon col-3 text-center m-auto text-secondary ml-5 py-2">
                            <i class="display-3 bx bx-package"></i>
                        </div>
                        <div class="pricing-list-body col-md-5 align-items-center pl-3 pt-2">
                            <ul class="list-unstyled text-center light-300">
                                <li class="h5 semi-bold-600 mb-0 mt-3">@PricingCard.Title</li>
                                <li>Deserunt mollit laborum.</li>
                            </ul>
                        </div>
                        <div class="pricing-list-footer col-4 text-center m-auto align-items-center">
                            <a href="#" class="btn rounded-pill px-4 btn-primary light-300">@PricingCard.Price</a>
                        </div>
                    </div>
                </div>
                <!-- End Pricing List -->


                
            }
                <p class="text-center"><a class="btn px-4 mt-4 mx-auto btn-outline-primary" href="#">Get Now</a></p>

         

        </div>
    </div>
</section>
